/*=====================
|      Mobile Menu     |
=======================*/
#mobile-nav {
    width: 100%;
    /**By Default Mobile Nav will be hidden**/
    height: 0;
    top: 0;
    left: 0;
    z-index: 3;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    overflow-y: hidden;
}
/**Mobile Close**/
#mobile-nav-close-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: #bec1c5;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    top: -43px;
    right: -28px;
    -webkit-transition: .3s;
    transition: .3s;
    display: none;
}
#mobile-nav-header {
    position: relative;
}
#mobile-nav-open-btn {
    font-size: 30px;
    color: #a6b2bf;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: -30px;
    /**Hide Mobile Menu**/
    display:none;
}
#mobile-nav-content {
    text-align:center;
    width: 100%;
}
#mobile-nav ul li {
    margin-bottom: 15px;  
}
#mobile-nav a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #a0a9b2;
    font-weight: 400;
    text-transform:uppercase;
    display:inline;
    -webkit-transition: .3s;
    transition: .3s;
}
#mobile-nav a:hover,
#mobile-nav a:focus,
#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus {
    color: rgba(63, 81, 181, 0.9);
}
/**Mobile nav scroll spy active state**/
.white-nav #mobile-nav ul.navbar-nav > li > a.active {
    color: rgba(63, 81, 181, 0.9);
    font-size: 15px;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 125, 0.7);
}
/*=========================
| Bootstrap 4 Media Queries |
===========================*/

/*Large Devices (Desktop & Laptops)*/

@media (min-width: 1200px) and (max-width: 1299px) {
    #nav-wrapper {
       padding: 0 20px;
    }
}
/*Media Devices (Landskape Tablets & Medium Desktops)*/
@media (min-width: 992px) and (max-width: 1199px) {
   .v-heading h2 {
       font-size: 35px;
   }
   .blog-post {
       padding: 10px !important;
   }
}
/*Small Devices (Portrait Tablets & Small Desktops)*/
@media (min-width: 768px) and (max-width: 991px) {
    #nav-wrapper {
       padding: 0;
    }
    #h-content h1 {
       font-size: 43px;
    }
    #text p {
       font-size: 14px;
    }
    .btn-welcome {
        padding: 8px 35px 8px 35px;
        font-size: 12px;
    }
    #tech-statement h3 {
        font-size: 19px;
        line-height: 29px;
    }
    .service .icon {
        font-size: 28px;
        margin: 10px 0;
    }
    .service:hover .icon {
        font-size: 32px;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    .service h4 {
        font-size: 20px;
        margin: 0 0 5px 0;
    }
    .r-tabs-accordion-title {
        text-align: center;
        margin-bottom: 10px;
    }
    .r-tabs-accordion-title a {
        color: #607D8B;  
    }
    .r-tabs-state-active a {
        color: #af7212 !important;
        border: 3px solid #af7212;
        border-radius: 20px;
        padding: 5px !important;
        -webkit-transition: border-color 300ms linear;
        transition: border-color 300ms linear;
    }
    .r-tabs-accordion-title.r-tabs-state-active a{
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        color: #607D8B;
        text-transform: uppercase;
        font-weight: 500;
        padding: 0;
        text-decoration: none;
    }
    #services-02-btn a {
        padding: 10px 20px !important;
        color: #fff !important;
        background: rgba(175, 114, 18, 0.8);
        border: 1px solid rgba(175, 114, 18, 0.8);
        font-weight: 600;
    }
    #testimonials .v-heading {
        padding: 50px 0;
    }
    #testimonials .v-heading h2 {
        font-size: 27px;
        margin: 0 0 0 27px;
    }
    #testimonials .v-heading span {
        font-size: 10px;
        top: 20px;
    }
    #testimonials .v-heading h5 {
        font-size: 14px;
    }
    .testimonial h3 {
        font-size: 27px;
    }
    .testimonial .stars  {
      font-size: 16px;
      margin-top: 13%
    }
    .price-table .price-tag h2 span{
       margin: 0 0 0 1px;  
    }
    .price-table .price-tag h2 span.dollar {
      font-size: 15px;
      font-weight:400;
    }
    .price-table .price-tag h2 span.price {
        left: -7px;
        font-size: 25px;
    }
    .price-table .price-tag h2 span.month {
        font-size: 15px;
        font-weight: 300;
    }
    .stats-item h3 {
        font-size: 22px !important
    }
    .stats-item i {
        font-size: 38px !important
    }
    .stats-item p {
        line-height: 18px 
    }
    #blog-left .v-heading h2 {
       font-size: 28px; 
       margin: 0 0 0 40px;
    }
    #blog-left .v-heading h5 {
       font-size: 15px; 
    }
    #blog-left p {
        text-align: center;
        font-size: 13px;
    }
    #blog-left .blog-btn {
        margin: 0 30px;
    }
    .blog-post {
       position:absolute;
       top: 30px;
       padding: 30px 15px 35px!important;
    } 
    .blog-post h4 {
        font-size: 18px !important;
        line-height: 27px !important;
    }
    .blog-post p {
        line-height: 22px !important;
    }    
    .blog-post a {
        font-size: 11px !important;
    }
    .blog-post .post-meta p {
        line-height: 14px !important;
        font-size: 11px !important;
    }
    .blog-post .post-meta p img {
       position:absolute;
       left: 65% !important;
    }
    .blog-post .post-meta p span {
       position: absolute;
       top: 14px;
       left: 15px
    }
    .blog-post .post-meta p.text-right {
       position: relative;
       right: 10px;
    }
    #contact #contact-right {
       position: relative;
       top: -20px
    }
    #contact #offices ul {
        margin-left: 20%;
    }
    #contact #offices h4 {
        margin-left: 20%;
    }
    #contact #offices ul li {
        padding: 0 10px;
    }
    #contact h4 {
        font-size: 22px;  
    }
    #contact ul.office-details li {
        font-size: 15px;
        margin-right: 15px;
    }
    #contact ul.office-details li i {
       width: 30px !important;
    }
    #contact #contact-left p {
        text-align: center;
        padding: 0 80px;
        font-size: 15px;
    } 
    #contact ul.social-list li {
       position: relative;
       top: -350px !important;
       left: 75%;
    } 
}
/*Extra Small Devices (Landscape Phones & Portrait Tablets)*/
@media (min-width: 576px) and (max-width: 767px) {
    /**NAVIGATION MOBILE MENU**/
    #nav-wrapper {
        padding: 0 40px;
    }
    #nav-wrapper #logo {
        position: relative;
        left: -7%;
    }
    #mobile-nav-open-btn {
        display: block;
    }
    .container, .container-sm {
        max-width: 750px;
    }
    #h-content h1 {
       font-size: 40px;
    }
    #text p {
       font-size: 14px;
       line-height: 18px;
       margin: 8px 2px 25px 2px;
    }
    .btn-welcome {
        padding: 7px 30px 7px 30px;
        font-size: 11px;
    }
    .content-box-lg {
        padding: 70px 0;
    }
    .v-heading {
        text-align: center
    }
    .v-heading h5 {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
        position: static;
        display: block;
        margin: 0 0 10px 0;
    }
    .v-heading h2 {
        font-size: 32px;
        line-height:normal;
        margin: 0;
    }
    .h-heading {
        margin-bottom: 40px;
    }
    .h-heading h2{
        font-size: 32px;
    }
    #about-left {
        margin-bottom: 35px
    }
    #about-right {
        text-align: center  
    }
    .content-box-md {
        padding: 70px 0;
    }
    .about-item {
        padding: 55px 30px;
        margin-bottom: 35px;
    }
    .about-item i {
        font-size: 32px;
    }
    .about-item h3 {
        font-size: 20px;
    }
    #t-left .v-heading {
        min-height: 125px;
    }
    .skill h4 {
        font-size: 20px;
        line-height: 35px;
    }
    #tech-statement h3 {
        font-size: 20px;
        line-height: 30px;
    }
    #services-01 img {
        margin: 35px 0;
    }
    /**Override Current Class**/
    .service, .service .icon {
        text-align:center !important;
    }
    .service h4 {
        font-size: 20px;
    }
    .r-tabs-accordion-title {
        text-align: center;
        margin-bottom: 10px;
    }
    .r-tabs-accordion-title a {
        color: #607D8B;  
    }
    .r-tabs-state-active a {
        color: #af7212 !important;
        border: 3px solid #af7212;
        border-radius: 20px;
        -webkit-transition: border-color 300ms linear;
        transition: border-color 300ms linear;
    }
    .r-tabs-accordion-title.r-tabs-state-active a{
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        color: #607D8B;
        text-transform: uppercase;
        font-weight: 500;
        padding: 2px 10px;
        text-decoration: none;
    }
    #services-tabs .tab-bg {
        text-align:center;
        padding: 40px 30px;
    }
    #services-tabs h2 {
        font-size: 40px;
    }
    #services-tabs h3 {
        font-size: 28px;
    }
    #work {
       padding-bottom: 0;
    }
    #isotope-filters button {
        padding-right: 15px;
    }
    #testimonials {
        padding-top: 45px;
    }
    #testimonials-slider {
        top: 0;
    }
    #testimonials .v-heading {
        padding: 0;
    }
    #testimonials .v-heading span {
        display: none;
    }
    .testimonial .row {
        margin: 0;
    }
    .testimonial h3 {
        font-size: 27px
    }
    .testimonial .stars {
        font-size: 17px;
    }
    .testimonial .author .author-name {
        width: auto;
        text-align: right;
    }
    .testimonial .author img {
        width: 90px!important
    }
    .price-table {
        margin-bottom: 30px;
    }
    .price-table .price-tag h2 {
        font-size: 28px
    }
    .stats-item {
        margin-bottom: 20px;
        padding: 25px 5px!important;
    }
    .stats-item i {
        font-size: 40px!important
    }
    .stats-item h3 {
        font-size: 24px !important;
    }
    #blog-left {
        text-align: center;
        margin-bottom: 30px
    }
    .blog-post {
        margin-bottom: 30px;
    }
    #contact #contact-left .v-heading h2 {
        margin-left: 0;
    }
    #contact .office {
        width: 14em;
        margin: 0 auto;
        font-size: 14px
    }
    #contact h4 {
        font-size: 22px;  
    }
    #contact ul.office-details li {
        font-size: 15px;
    }
    
    #contact #contact-left p {
        text-align: center;
        padding: 0 80px;
        font-size: 15px;
    } 
    #contact ul.social-list {
       text-align: center;
       margin-bottom: 25px;
    }
    #contact ul.social-list li:nth-child(odd) {
       margin: 0 10px;
    } 
    #contact ul.social-list li a {
       width: 30px;
       height: 30px;
       line-height: 25px;
    } 
}
/**Extra small devices (Portrait Phones & Smaller Devices)***/
@media(max-width: 575px) {
    /**NAVIGATION MOBILE MENU**/
    #nav-wrapper {
        padding: 0 40px;
    }
    #nav-wrapper #logo {
        position: relative;
        left: -7%;
    }
    #mobile-nav-open-btn {
        /**Show Mobile Menu**/
        display: block;
    }
    #h-content h1 {
       font-size: 30px;
    }
    #text p {
       font-size: 11px;
       line-height: 16px;
       margin: 8px 80px 25px 80px;
    }
    .btn-welcome {
        padding: 7px 30px 7px 30px;
        font-size: 11px;
        margin-bottom: 0!important;
    }
    .v-heading {
        text-align: center
    }
    .v-heading h5 {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
        position: static;
        display: block;
        margin: 0 0 10px 0;
        font-size: 16px;
    }
    .v-heading h2 {
        font-size: 28px;
        line-height:normal;
        margin: 0;
    }
    .h-heading {
        margin-bottom: 40px;
    }
    .h-heading h2{
        font-size: 32px;
    }
    #isotope-filters {
        text-align: center;
    }
    #isotope-filters button {
        padding-right: 15px;
        font-size: 12px;
    }
    .testimonial h3 {
        font-size: 16px;
        line-height: 18px;
    }
    .testimonial .stars {
        font-size: 12px;
    }
    #testimonials .v-heading span {
        display: none;
    }
    .testimonial .author .author-name {
        width: auto;
        text-align: right;
        position:relative;
        top: -80px
    }
    .testimonial .author img {
        width: 80px;
    }
    .price-table {
        margin-bottom: 30px;
    }
    .price-table .price-tag h2 {
        font-size: 24px;
    }
    .price-table .price-tag h2 {
        margin: 0 30px;
        padding: 0 3px;
    }
   
}
/**Extra small devices (Portrait Phones & Smaller Devices)***/
@media(max-width: 320px) {
    .testimonial h3 {
        font-size: 12px;
        line-height: 16px;
    }
    .testimonial .stars {
        font-size: 10px;
    }
}